<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        {{ with .Site.Params.author }} <meta name="author" content="{{ . }}"> {{ end }}
        {{ with .Site.Params.description }} <meta name="description" content="{{ . }}"> {{ end }}
        {{ with .Site.Params.keywords }} <meta name="keywords" content="{{ . }}"> {{ end }}
        <title>{{ block "title" . }}{{ .Site.Title }}{{ end }}</title>

        <link rel="stylesheet" href="/css/base.css" />
    </head>

    <body>
        <div id="container">
            {{ block "head" .}}
                <div id="menu">
                    {{ partial "head.html" . }}
                </div>
            {{ end }}

            <div id="content">
                {{ block "main" . }} {{ end }}
                {{ block "footer" . }} {{ end }}
            </div>
        </div>
    </body>
</html>