{{ define "main" }}
<h1><a href=#>{{.Title}}</a></h1>
<p class="subtitle">{{ .Date.Format "Mon Jan 2, 2006" }}</p>

<blockquote>
    <p>{{ with .Params.summary }} {{ . | markdownify | safeHTML}} {{ end }}</p>
    <p>
        {{ with .Params.tags }}
            Tags:
            {{range . }}
                <a href='{{ "tags" | absURL }}/{{ . | urlize }}'>{{ . }}</a> |
            {{ end }}
        {{ end }}
    </p>
</blockquote>

{{ .Content | markdownify | safeHTML}}

<div>
    {{ with .PrevInSection }}
        <a class="previous" href="{{.Permalink}}"> {{.Title}}</a>
    {{ end }}
    {{ with .NextInSection }}
        <a class="next" href="{{.Permalink}}"> {{.Title}}</a>
    {{ end }}
</div>

{{ end }}